<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/css/Cesium/Widgets/widgets.css'>
    <script src='javascripts/jquery.min.js'></script>
    <script src='/test_data.json'></script>
    <script src='javascripts/Cesium/Cesium.js'></script>
    <script src='#{params}'></script>
    <script src='/javascripts/map.js'></script>
  <body>
