doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/Cesium/Widgets/widgets.css')
    script(src='javascripts/jquery.min.js')
    script(src='/test_data.json')
    script(src='javascripts/Cesium/Cesium.js')
    script(src='#{params}')
    script(src='/javascripts/map.js')
  body
    block content
