body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: fuchsia;
}

a {
  color: #00B7FF;
}

#cesiumContainer {
  min-height: 100vh;
  height: 100vh;
  min-width: 100%;
  width: 100%;
}

.cesium-viewer-bottom {
  opacity: 0;
}
